h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: navy;
    text-align: center;
    font-size: 36px;
}

h2 {
    box-sizing: border-box;
    text-align: center;
    font-size: 22px;
    height: 104px;
    width: 680px;
}
 .intro {
    display: flex;
    border: solid;
    border-color: navy;
    border-width: medium;

 }

 .tools {
    border-width: medium;
    width: 25%;
    height: 240px;
    display: flex;
    flex-direction: column;
    column-rule: solid navy;
    justify-content: space-around;
 }

 .dog {
    display: flex;
    justify-content: right;
    width: 460px;
    height: 120px;
 }

.bbq {
    border: navy;
    border-width: medium;
    width: 50px;
    height: 50px;
}

.walk-button {
    background-color: rgb(53, 251, 254);
    border: solid 10px navy;
    width: 150px;
    height: 150px;
    border-width: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
}

 .hover-content {
    display: none;
 }

 .hover-trigger:hover ~ .hover-content {
    display: block;
 }

 .button {
    width: 720px;
    height: 48px;
    display: flex; 
    justify-content: space-evenly;
    border: solid;
    border-color: navy;
    border-width: medium;
 }

 #fail {
    font-family: 'rubik wet paint', 'gill sans';   
    box-sizing: border-box; 
    text-align: center;
    font-size: 76px;
    background-color: lightblue;
    display: none; 
    position: absolute;
    top: 25%;
    border-radius: 25%;
    center: calc(50% - 250px);
 }

 .hidden {
    display: none;
}